@media only screen and (max-width: 425px) {
    .navForm {
        width: 50%;
    }

    .navBar {
        display: flex;
    }

    .navList img {
        width: 25px;
        margin-right: 0px !important;
    }

    .navList li {
        margin: 0 5px 0 5px !important;
    }
}

.navList li {
    margin: 0 20px 0 20px;
}

.navList img{
    margin-right: 15px;
}