ul {
    margin: 0;
    padding: 0;
}

ul li a:hover {
    cursor: pointer;
}

.logo {
    background: url(../../medias/backgroundCool.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.logo img {
    width: 120px;
    margin: 25px 0 15px 0;
}

.sideBar {
    width: 18%;
}

.sideBar li a:hover {

    background: rgb(251, 232, 211);
    background: linear-gradient(90deg, rgba(251, 232, 211, 1) 0%, rgba(251, 232, 211, 1) 62%, rgba(255, 255, 255, 1) 100%);
    color: #E39430;
    padding: 10px 0px 11px 10px;
    border-radius: 25px 0 0 25px;
    width: 80%;
}
.sideBar li a{
    margin-left: 20px;
    font-size: 14px;
}
@media only screen and (max-width: 425px) {
    .logo img {
        width: 50px;
        margin: 15px 0 10px 0;
    }
    .sideBar li a:hover {
        background: rgb(251, 232, 211);
        padding: 0;
    }
    .sideBar li a{
        margin-left: 25px;
        font-size: 20px;
    }
}